@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: WorkSans;
    src: url(../fonts/WorkSans-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: WorkSans;
    src: url(../fonts/WorkSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Medium.ttf);
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 1165px;
    margin:0 auto;
}

.header {
    width: 100%;
    position: absolute;
    padding-top: 40px;
    &__wrap {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        margin-left: 56px;
    }
    &__elems {
        display: flex;
        align-items: center;
    }
    &__icons {
        display: flex;
        
    }
    &__btns {
        display: flex;
        align-items: center;
        font-size: 14px;
    }
    &__search {
        margin-right: 40px;
    }
}

.btn {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    background: #156963;
    padding: 8px 33px;
    &_w {
        color: #156963;
        background: #fff;
        font-size: 14px;
        font-weight: 500;
        
    }
}


.main {
    &__wrap {
        display: flex;
        gap: 77px;
        align-items: c;
    }
    &__texts {
        max-width: 519px;
    }
    &__title {
        color: #156963;
        font-size: 68px;
        font-weight: 500;
        margin-top: 186px;
        margin-bottom: 24px;
        
    }
    &__text {
        color: #2C1500;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 110px;
    }
    &__btns {
        display: flex;
    }
    &__btn {
        width: 320px;
        padding: 40px 50px;
        &-subtitle {
            color: #333333;
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 12px;
            &p::before {
                content: '';
                display: block;
                background: url('../img/arrow.svg');
                width: 32px;
                height: 32px;
                margin-right: 9px;
            }
            &p::after {
                content: '';
                display: block;
                background: url('../img/arrow.svg');
                width: 32px;
                height: 32px;
                margin-left: 9px;
                transform: rotate(180deg);
            }
        }
        &-text{
            font-size: 32px;
            font-weight: 500;
        }
    }
}

.card{
    max-width: 268px;
    max-height: 155px;
    grid-template-columns: 48px 1fr;
    grid-template-rows: 48px 1fr;
    padding: 22px 16px 22px;
    gap: 16px;
    border: 2px solid #E0E0E0;
}

.row{
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.adventages{
    &__block{
        display: flex;
        gap: 16px;
    }
    &__img{
        margin-bottom: 16px;
    }
    &__title{
        width: 70px;
        height: 48px;
        margin-top: 5px;
        font-size: 16px;
        font-weight: 800;
        color: #156963;
    }
    &__text{
        color: #2C1500;
        font-weight: 400;
        font-size: 10px;
    }
    &__row{
        margin-top: 142px;
    }
    &__elems{
        display: flex;
        justify-content: space-between;
    }
}

.plants{
    &__wrap{
        height: 47px;
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
        border-bottom: 1px solid #E0E0E0;
        margin-bottom: 10px;
    }
    &__btn{
        width: 130px;
        height: 31px;
        font-size: 12px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        border: 1px solid #E0E0E0;
        padding: 8px 12px;
    }
    &__row{
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    &__cart{
        text-align: center;
        margin-top: 24px;
    }
    &__text{
        margin-top: 16px;
        font-size: 16px;
        font-weight: 400;
    }
    &__price{
        margin-top: 8px;
        font-size: 16px;
        font-weight: 600;
    }
}

.more{
    &__info{
        display: flex;
        justify-content: space-between;
        margin-top: 90px;
    }
    &__text{
        width: 522px;
    }
    &__title{
        font-size: 40px;
        font-weight: 800;
    }
    &__subtitle{
        color: #2C1500;
        margin-top: 26px;
        font-size: 16px;
        font-weight: 400;
    }
    &__img{
        &_1{
            margin-top: 124px;
        }
        &_2{
            margin-top: -10px;
            margin-left: 84px;
        }
    }
}

.get-bg{
    background: #F3F4F6;
    height: 360px;
}

.get{
    &__info{
        display: flex;
        justify-content: space-between;
    }
    &__text{
        width: 585px;
        padding: 88px 0 88px 97px;
    }
    &__title{
        font-size: 40px;
        font-weight: 700;
    }
    &__btn{
        margin-top: 32px;
        &-btn{
            color: #FAFEFE;
            background: #156963;
            width: 152px;
            height: 40px;
            border: 0;
        }
    }
}

.footer{
    border-top:1px solid #E0E0E0;
    margin-top: 80px;
    &__info{
        display: flex;
        justify-content: space-between;
        padding: 60px 100px;
        gap: 80px;
    }
    &__column{
        height: 137px;
        &-col1{
            width: 282px;
        }
        &-col2{
            width: 95px;
        }
        &-col3{
            width: 95px;
        }
        &-col4{
            width: 234px;
        }
    }
    &__title{
        color: #156963;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 500;
        font-family: 'Poppins';
    }
    &__subtitle{
        &-col1{
            font-family: 'WorkSans';
            font-weight: 500;
            margin-top: 24px;
            font-size: 16px;
        }
        &-col2{
            font-family: 'WorkSans';
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 20px;
        }
        &-col3{
            font-family: 'WorkSans';
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 20px;
        }
        &-col3{
            font-family: 'WorkSans';
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
    &__address{
        color: #4F4F4F;
        width: 282px;
        font-family: 'WorkSans';
        font-weight: 400;
        font-size: 13px;
        margin-top: 10px;
    }

    &__text{
        color: #000;
        font-family: 'WorkSans';
        font-weight: 400;
        font-size: 14px;
    }
    &__email{
        width: 234px;
        height: 32px;
        padding-left: 13px;
        border-radius: #F2F2F2;
        margin-top: 14px;
    }
    &__btn{
        color: #FAFEFE;
        background: #156963;
        width: 51px;
        height: 22px;
        border: 0;
        font-size: 8px;
        font-family: 'Raleway';
        font-weight: 500;
        margin-top: 14px;
    }
}